[submodule "designs/libs/IHP-Open-PDK"]
	path = designs/libs/IHP-Open-PDK
	url = git@github.com:KrzysztofHerman/IHP-Open-PDK.git
[submodule "designs/unic-cass-wrapper"]
	path = designs/unic-cass-wrapper
	url = git@github.com:unic-cass/unic-cass-wrapper.git
[submodule "designs/unic-cass-wrapper-TOMar2026"]
	path = designs/unic-cass-wrapper-TOMar2026
	url = git@github.com:unic-cass/unic-cass-wrapper-TOMar2026.git
[submodule "designs/openpdk-libraries"]
	path = designs/openpdk-libraries
	url = git@github.com:openic-org/openpdk-libraries.git
[submodule "designs/HPAmplifier"]
	path = designs/libs/HPAmplifier
	url = git@github.com:Fundacion-Fulgor/HPAmplifier.git
[submodule "designs/ROI_LIF_NEURON_UNIC-CASS"]
	path = designs/libs/ROI_LIF_NEURON_UNIC-CASS
	url = git@github.com:Gior-gio/ROI_LIF_NEURON_UNIC-CASS.git
[submodule "designs/PWMUSFQ"]
	path = designs/libs/PWMUSFQ
	url = git@github.com:EduHolg/PWMUSFQ.git
[submodule "designs/unic-cass-wrapper_QDLL"]
	path = designs/libs/unic-cass-wrapper_QDLL
	url = git@github.com:leonardovazquez/unic-cass-wrapper_QDLL.git
